/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }

/* #Basic Styles
================================================== */

body {
		background: #fff;
		font: 14px/16px "HelveticaNeue", serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		position:absolute;
		width:95%;
		left:2%;
		top:2%;
 }
 h1, h2, h3, h4 {
		color: #181818;
		font-family: "HelveticaNeue", serif;
		font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, { font-weight: inherit; }
	h1 { font-size: 30px; line-height: 20px; margin-bottom: 20px; margin-top: 10px}
	h2 { font-size: 21px; line-height: 6px; margin-bottom: 4px; }
	h3 { font-size: 17px; line-height: 5px; margin-bottom: 15px; margin-top: 25px}
	h4 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }
	p { margin: 0 3px 3px 10px; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

ol, ul {
list-style: none; }
/*li:before {content: "- ";}*/
ul li{
	padding: 0px 0px;
	margin-left: -2%;

}
.caption{
	color: #181818;
	font-family: "HelveticaNeue", serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}
.cartoon{
	text-align: center;
	margin-bottom: 15px;

}

/* #Links
================================================== */
a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }
a.nav_button{
	text-decoration: none;
	display: block;
	white-space: nowrap; 
}

/* #MISC
================================================== */
#soon{
	/*font: 11px "American Typewriter", serif;*/
	color: #B2B2B2;
}
#noscript-warning{
	font-family: sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #000099;
	padding: 5px 0 5px 0;
}

a#results{
	color: #808080;
}

.footnote{
	font-size: 12px;
}

